*{
    margin: 0px;
    padding: 0px;
}  
.main{
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    
    margin-top: 2rem;
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
}
.box{
    border-radius: 1rem;
    background-color: goldenrod;
    color: white;
    margin: 0.5rem;
    height: 20vmin;
    width: 20vmin;
    border: none;
    font-size: 4.5rem;
}

.reset{
    margin-top: 1rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: coral;
}

.newbtn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: coral;
}

.msgcontainer{
    margin-top: 2rem;
    height: 50vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.msg{
    font-size: 3rem;
    color: rgb(136, 118, 14);
}

.hide{
    display: none;

}